<div class="container-fluid bg-warning p-5">

    <footer class="text-center">
        <h3>
            Todos los derechos reservados
        </h3>
    </footer>
</div>
    
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

</html>