<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Segunda entrega individual</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-warning">
        <a class="navbar-brand" href="#">Menu de navegación</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cursos">Crear Curso</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/listacursos">Ver Cursos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/registro">Inscribir</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/listarusuario">Ver Inscritos</a>
            </li>


          </ul>
        </div>
      </nav>
    </header>
  </div>