{{>header}}
<div class="container ">
    <div class="row align-items-center justify-content-center">
         <div class="col-lg-12 col-12">
             <h2>{{mensaje}}</h2>
             {{crear id nombre descripcion valor modalidad intensidad estado}}
             {{{listarC}}}
        </div>
    </div>
</div>
{{>footer}}
