{{>header}}
<div class="container">
    <div class="col-lg-12 col-12 text-center ">
        <h2 class="mb-5">Error 404: la página no existe</h2><img src="/img/home.png" alt="" class="img-fluid rounded-lg">
    </div>
</div>
{{>footer}} 