{{>header}}

{{estadoC estado}}
<div class="container ">
    <div class="row align-items-center justify-content-center">
         <div class="col-lg-12 col-12">
             {{{listarC}}}
        </div>
    </div>
</div>
{{>footer}}
