{{>header}}
   <div class="container bg-dark p-5">
    <div class="col-lg-12 col-12 text-center  text-white">
        <h2 class="mb-5">Hola Bienvenido a la pagina principal de la app</h2><img src="/img/home.png" alt="" class="img-fluid">
    </div>
   </div>
{{>footer}} 